<h1>{{ name }}</h1>
<div *ngIf="log == false; else Else">
<app-chiave (newKeyEvent)="login($event)"(newAltroEvent)="getKey()"></app-chiave>
 </div>
 <ng-template #Else>
<p>La tua Chiave è {{key}}</p>
<div *ngIf="PostSalvato.length == 0; else cisono">
</div>
<ng-template #cisono>
<ul *ngIf="click == true; else elseBlock">
  <li *ngFor="let objImp of importants">
    <button (click)="showOne(objImp)">{{objImp.titolo}}</button>
    <button (click)="deletePost(objImp)">ELIMINA POSTIT</button>
  </li>
  <br />  
</ul>
<ng-template #elseBlock>
<ul>  
  <li *ngFor="let obj of PostSalvato">
    <button (click)="showOne(obj)">{{obj.titolo}}</button>
    <button (click)="deletePost(obj)">ELIMINA POSTIT</button>
  </li>
</ul>
</ng-template>
<app-notifica [selezioneC]="selezione"> </app-notifica>
</ng-template>
<div *ngIf="nuovo == true; else nonNuovo"> 
 <app-nuovopostit (newPostEvent)="addPost($event)"></app-nuovopostit>
</div>
 <ng-template #nonNuovo >
 <button (click)="aggiungi()">INSERISCI UN NUOVO POSTIT</button>
</ng-template>

 

 
